body,
ul,
li {
  margin: 0;
  padding: 0;
}

.swal-text {
  text-align: center;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #5b4f4f;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  right: 182px;
}

.swal-button:hover {
  background-color: #1f1d1d;
}

html {
  overflow-y: scroll;
}

body {
  text-align: center;
  font-family: Nunito;
  background-color: #ebe7e7;
}

.main-left,
.main-right {
  background-image: url(img/video-film2.png);
  background-repeat: repeat-y;
  width: 58px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  bottom: 59px;
}

header {
  background-color: #d6d3d3;
  margin-bottom: 5%;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
}

.fa-angle-double-up {
  border: 1px black;
  height: 26px;
  width: 26px;
  padding: 12px 8px 2px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #5c5050;
  color: white;
  position: fixed;
  bottom: 3%;
  left: 70%;
}

.fa-angle-double-up:hover {
    background-color: #1f1d1d;
}

main {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: rgb(70, 85, 70);
  font-size: 2.4em;
  margin: 0;
  width: 365px;
  padding-top: 26px;
}

.fa,
.fas {
  font-weight: 900;
  margin-right: 3%;
}

.films-list li {
  padding: 20px;
  width: 310px;
  margin: 0% auto 12%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  color: #555b68;
}

li button {
  width: 100px;
  height: 30px;
  background-color: #5b4f4f;
  border: none;
  color: white;
}

li button:hover {
  background-color: #1f1d1d;
}

.fa-film {
  font-size: 1.6em;
}

.search {
  padding: 10px;
  background-color: white;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  box-shadow: inset 0 0 10px #000000;
}

.fa-search {
  color: #827777;
}

.search:hover {
  border: 1px solid #888;
}

.search input {
  border: none;
  padding: 0 5px;
  font-size: 14px;
  width: 338px;
  color: black;
}

input:focus {
  outline: none;
}



.fa-hand-point-up {
  position: relative;
  bottom: 26px;
}

@media (max-width: 900px) {
  .search {
    max-width: 200px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.5em;
    position: relative;
    right: 67px;
  }
  header {
    height: 78px;
  }
}

@media (max-width: 640px) {
  .search {
    position: relative;
    right: 21px;
    padding: 6px;
  }
  .search input {
    font-size: 12px;
  }
  h1 {
    position: relative;
    right: 35px;
  }
}

@media (max-width: 520px) {
  header {
    display: block;
    height: 130px;
  }
  h1 {
    margin: auto;
    position: static;
  }
  .search {
    margin: 22px auto;
    position: static;
  }
  .search:hover {
    margin: 21px auto;
  }
  .main-left,
  .main-right {
    display: none;
  }
  .swal-button {
    right: 160px;
  }
  .fa-angle-double-up{
    border-radius: 20% 0% 0% 20%;
    left: 88%;
  }
}

@media (max-width: 400px) {
  .films-list li {
    width: 70%;
  }
  h1 {
    width: 70%;
  }
  .swal-button {
    right: 130px;
  }
}
